.welcome h1 {
  border-bottom: 0px solid;
  border-top: 0px solid;
}

.welcome h2 {
  border-bottom: 0px solid;
  border-top: 0px solid;
}

img.cover {
  box-shadow: none;
  border: 1px solid;
}


.figure {
  text-align: center;
}
p.caption {
  color: #777;
  margin-top: 10px;
  text-align: left;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
.flushright {
  text-align: right;
}
pre.numberSource code > span > a:first-child::before {
  left: -0.3em;
}
.header-section-number {
  padding-right: .2em;
  font-weight: 500;
}
.level1 .header-section-number {
  display: inline-block;
  border-bottom: 3px solid;
}
.level1 h1 {
  border-bottom: 1px solid;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}
h1.title {
  font-weight: 700;
}
.book .book-body .page-wrapper .page-inner section.normal strong {
  font-weight: 500;
}
.book .book-body .page-wrapper .page-inner section.normal pre a {
  color: inherit;
}
