project:
  type: book

execute:
  freeze: auto
  # echo: false
  warning: false

book:
  title: "A journey through aviation data"
  favicon: "favicon.png"
  author:
    - Xavier Olive
    - Junzi Sun
    - Enrico Spinielli
    - Manuel Waltert
    - David Gianazza
  # date: "2023-12-25"
  # isbn: "12345678"
  chapters:
    - index.qmd
    - preface.qmd
    - chapters/index.qmd
    - part: "Background knowledge about aviation"
      chapters:
        - chapters/background/history.qmd
        - chapters/background/earth.qmd
        - chapters/background/atmosphere.qmd
        - chapters/background/aircraft.qmd
        - chapters/background/airspace.qmd
        - chapters/background/aerodrome.qmd
        - chapters/background/cns.qmd
    - part: "The ecosystem of aviation data"
      chapters:
        - chapters/data_sources/flight-tracking.qmd
        - chapters/data_sources/aircraft-information.qmd
        - chapters/data_sources/flight-plans.qmd
        - chapters/data_sources/aeronautical-information.qmd
        - chapters/data_sources/environment.qmd
        - chapters/data_sources/aircraft-performance.qmd
        - chapters/data_sources/aviation-data-sources.qmd
    - part: "Process data"
      chapters:
        - chapters/processing/tidy-data.qmd
        - chapters/processing/geometrice-geographic.qmd
        - chapters/processing/processing-trajectories.qmd
        - chapters/processing/information-extraction.qmd
    - part: "Visualise Data"
      chapters:
        - chapters/visualise/storytelling.qmd
        - chapters/visualise/grammar-of-graphics.qmd
        - chapters/visualise/meaningful-maps.qmd
    - part: "Share Data"
      chapters:
        - chapters/sharing/reproducible-research.qmd
    - references.qmd
    - authors.qmd
  appendices:
    - chapters/appendix/index.qmd
    - chapters/appendix/glossary.qmd
    - chapters/appendix/contribute.qmd

  # cover-image: images/book-front-cover.png
  site-url: https://aviationbook.netlify.app/
  repo-url: https://github.com/open-aviation/aviationbook/
  repo-branch: master

  search: true
  repo-actions: [edit, issue, source]
  downloads: [pdf, epub]
  sharing: [twitter, linkedin]

  page-navigation: true

  # comments:
  #   hypothesis: true

  sidebar:
    - title: Contents
      id: contents
      background: transparent
      collapse-level: 1
      contents:
        - section: Background knowledge
          contents:
            - chapters/background/history.qmd
            - chapters/background/earth.qmd
            - chapters/background/atmosphere.qmd
            - chapters/background/aircraft.qmd
            - chapters/background/airspace.qmd
            - chapters/background/aerodrome.qmd
            - chapters/background/cns.qmd
        - section: Data sources
          contents:
            - chapters/data_sources/flight-tracking.qmd
            - chapters/data_sources/aircraft-information.qmd
            - chapters/data_sources/flight-plans.qmd
            - chapters/data_sources/aeronautical-information.qmd
            - chapters/data_sources/environment.qmd
            - chapters/data_sources/aircraft-performance.qmd
            - chapters/data_sources/aviation-data-sources.qmd
        - section: Data processing
          contents:
            - chapters/processing/tidy-data.qmd
            - chapters/processing/geometrice-geographic.qmd
            - chapters/processing/processing-trajectories.qmd
            - chapters/processing/information-extraction.qmd
        - section: Data visualization
          contents:
            - chapters/visualise/storytelling.qmd
            - chapters/visualise/grammar-of-graphics.qmd
            - chapters/visualise/meaningful-maps.qmd
        - section: Data sharing
          contents:
            - chapters/sharing/reproducible-research.qmd

    - title: Appendices
      background: transparent
      id: appendices
      contents:
        - text: Appendices
        - text: ---
        - chapters/appendix/index.qmd
        - chapters/appendix/glossary.qmd
        - chapters/appendix/contribute.qmd
        - authors.qmd

  navbar:
    background: light
    logo: favicon.png
    logo-alt: "avbook logo"
    title: false
    search: true
    pinned: true
    left:
      - text: Overview
        href: /
      - text: Start reading
        href: /chapters/background/
      - chapters/index.qmd
      # - authors.qmd
      - chapters/appendix/glossary.qmd
      - chapters/appendix/contribute.qmd

    right: []

crossref:
  fig-title: Figure
  tbl-title: Table
  fig-prefix: Figure
  tbl-prefix: Table
  ref-hyperlink: true
  #   appendix-title: "App."
  #   appendix-delim: ":"

bibliography: bibliography.bib
csl: media/ieee.csl

# for debug
# geometry:
#   - showframe

pdf-engine: xelatex

highlight-style: pygments

format:
  html:
    theme:
      light: [flatly, media/css/light.scss]
      dark: [darkly, media/css/dark.scss]
    smooth-scroll: true
    toc: true
    code-copy: true
    css:
      - media/css/style.css
      - media/css/box.css
    grid:
      sidebar-width: 250px
      body-width: 900px
      margin-width: 300px
  pdf:
    documentclass: scrbook
    papersize: a4
    cite-method: citeproc

filters:
  - acronyms

acronyms:
  include_unused: false
  insert_links: false
  fromfile: _acronyms.yml
  insert_loa: "end"
  loa_title: ""
